.hero {
  background-image: url("https://s3-us-west-2.amazonaws.com/mockup-homework-assets/hero-bg.png");
  background-position: center center;
  background-size: cover;
  padding: $moat-width;
}

.hero-inner {
  align-items: center;

  @include bp(desktop-up) {
    min-height: 500px;
  }
}

.hero-verbiage {
  grid-column: 1 / 12;

  @include bp(desktop-up) {

  grid-column: 1 / 11;
  }
}

