.hero {
  background-image: url("https://picsum.photos/800/800");
  background-position: center center;
  background-size: cover;
  padding: $moat-width;
}

.hero-inner {
  align-items: center;

  @include bp(desktop-up) {
    min-height: 500px;
  }
}

.hero-verbiage {
  grid-column: 1 / 12;
}

