.site-nav,
.site-footer {
  align-items: center;
  background-color: $color-dark-blue-gray;
  color: $color-lightest-gray;
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  padding: 0 $moat-width;
}

.site-nav__mobile-only {
  /* fpo */
  border-bottom: 3px white solid;
  border-top: 3px white solid;
  cursor: pointer;
  font-size: 0;
  height: 13px;
  width: 30px;

  @include bp(desktop-up) {
    display: none;
  }
}

.site-nav__ol {
  display: none;

  @include bp(desktop-up) {
    align-items: center;
    display: grid;
    grid-column-gap: 48px;
    grid-template-columns: repeat(5, max-content);
  }
}

/* Nav links */
.nav-link {
  color: inherit;
  font-size: $font-size-xs;
  font-weight: bold;
  text-decoration: none;
  transition: $transition-1;

  &:hover {
    opacity: 0.65;
  }
}

.nav-link--search {
  align-items: center;
  background-image: url(https://s3-us-west-2.amazonaws.com/mockup-homework-assets/icon-search-white.svg);
  background-position: center center;
  background-size: cover;
  display: inline-flex;
  height: 24px;
  text-indent: -9999px;
  width: 24px;
}

